#body-div{
    border:1px solid black;
    height:100%;
}
p{
    text-align: center;
}
h3{
text-align: center;
}
form{
    margin:10px;    
}
#Terms{
    margin-left:30px;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}
#Register{
    border:3px solid black;
    background-color: pink;
    margin-left:40px;
}
body{
    background-color: white;
    background-image: url("../Images/Cup2.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-size: 100%;
    color: rgb(249, 142, 29);
}
.space{
    background-color: aqua;
}
